@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');


.App {
  background-color: #333;
  line-height: 1.6;
}

.App-header{
  background-image: url('/Users/tingweilin/Documents/puzzleClub/puzzle_club_website/src/assets/image/nevigationBarTexture.jpg');
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

nav{
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  display: inline;
  font-family: "Keania One", sans-serif;
  margin-left: 10px;
}

nav ul li a {
  color: whitesmoke;
  font-weight: 400;
  font-style: normal;
  font-family: "Keania One", Arial;
  text-decoration: none;
}

main {
  padding: 10px;
  margin: auto; 
  min-height:fit-content;
}