@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');


.App {
  background-color: #333;
  line-height: 1.6;
}

.App-header {
  background-image: url('/Users/tingweilin/Documents/puzzleClub/puzzle_club_website/src/assets/image/nevigationBarTexture.jpg');
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
}


.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.App-logo {
  height: 50px;
  /* adjust as needed */
}

.App-header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.App-button {
  background-color: rgb(195, 113, 93);
  /* Instagram pink/red */
  border: none;
  /* remove default button border */
  color: white;
  padding: 10px 12px;
  /* size of button */
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: transform 0.2s, background-color 0.2s;
}

.App-button:hover {
  background-color: rgb(171, 94, 75);
  /* darker on hover */
  transform: scale(1.1);
  /* subtle grow effect */
}


nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}


nav ul li {
  display: inline;
  font-family: "Keania One", sans-serif;
  margin-left: 10px;
}

nav ul li a {
  color: whitesmoke;
  font-weight: 400;
  font-style: normal;
  font-family: "Keania One", Arial;
  text-decoration: none;
}

main {
  padding: 10px;
  margin: auto;
  min-height: fit-content;
}